.App {
  max-width: 800px;
  margin: 0 auto;
}

.site-header {
  display: flex;
  margin-bottom: 1px solid #ccc;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
}
.register h3 {
  text-align: center;
}

.register form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.register input {
  margin-bottom: 20px;
}
